.main-header .logo{
    height:140px !important;
    padding-top: 20px;
    background: #3b53ff !important;
}
.main-sidebar{
    background: #3b53ff !important;
}
.sidebar-menu>li>a{
    background: #3b53ff !important;
    color:#fff !important
}
.sidebar-menu>li>a:hover{
    background: #263be0 !important;
    color:#fff !important
}
.sidebar-menu>li.header{
    color:#fff !important;
    background: #1c30bb;
}
.treeview-menu>li>a{
    color: #ffffff;
    background: #2f42c5;
}
.treeview-menu>li>a:hover{
    color: #ffffff;
    background: #3b53ff;
}

.product-details-wrap .product-price {
    padding-left: 13px !important;
}
.shippingLoading {
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    top: 0px;
    left: 0px;
    z-index: 111111;
    position: absolute;
    padding-top: 35%;
}


