.header-column-right {
    height: 60px;
    padding: 0 15px;
    align-items: center;

    .header-wishlist {
        margin: 0 15px;
    }

    .header-wishlist,
    .header-cart,
    .header-arrow {
        display: flex;
        align-items: center;
        border: 1px solid #e1e1e1;
        border-radius: 100px;
        height: 50px;
        width: 50px;
        justify-content: center;

        > span {
            line-height: 28px;
            color: $color-black;
            white-space: nowrap;
            transition: $transition-default;
        }
    }

    .header-arrow {
        .icon-wrap {
            i {
                font-size: 18px;
                margin-top: 6px;
                &:first-child {
                    margin-right: 7px;
                }
                ~ i {
                    position: absolute;
                    margin-left: 16px;
                    top: -5px;
                    left: -5px;
                }
            } 
            > .count {
                top: 14px;
            }

        }
    }

    .header-wishlist,
    .header-cart,
    .header-arrow {
        &:hover {
            > span,
            .icon-wrap > i {
                color: $color-default;
                color: var(--color-primary);
            }
        }
    }

    .header-cart {
        // margin-left: 35px;
        cursor: pointer;

        &:hover {
            > span,
            .icon-wrap > i {
                color: $color-default;
                color: var(--color-primary);
            }
        }
    }

    .icon-wrap {
        position: relative;
        // margin-right: 10px;

        > i {
            font-size: 25px;
            line-height: 36px;
            color: $color-black;
            transition: $transition-default;
        }

        > .count {
            left: -18px;
            height: 15px;
            width: 15px;
            top: 12px;
            line-height: 16px;

            position: absolute;
            font-size: 10px;
            color: $color-white;
            background: $color-red;
            text-align: center;
            border-radius: 50%;
            // line-height: 20px;
            // top: 1px;
            // right: -6px;
            // height: 18px;
            // width: 18px;
        }
    }
}

@media screen and (max-width: $xl) {
    .header-column-right {
        .icon-wrap {
            // margin-right: 6px;
        }

        .header-wishlist,
        .header-cart {
            > span {
                display: none;
            }
        }
    }
}

@media screen and (max-width: $lg) {
    .header-column-right {
        .header-wishlist, .header-arrow {
            display: none;
        }

        .header-cart {
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 391px) {
    .header-column-right {
        padding-left: 10px;
    }
}
