.footer-bottom {
    display: flex;
    justify-content: center;

    .row {
        width: 100%;
        justify-content: space-between;
    }
}
.footer-text {
    line-height: 26px;
    font-size: 12px;
    color: $color-gray;
    &.footer-terms {
        display: flex;
        justify-content: flex-end;
        a {
            padding-right: 5px;
            color: $color-gray;
            font-weight: 400;
            cursor: pointer;
            &:hover {
                color: $color-secondary;
            }
        }
    }
    a {
        font-weight: 500;
        color: $color-default;

        &:hover {
            color: $color-default-hover;
        }
    }
}

.footer-payment {
    display: flex;
    justify-content: flex-end;

    > img {
        max-height: 30px;
        max-width: 100%;
    }
}
